body {   
    width: 800px;   
    margin: 0 auto;   
    padding: 0 20px 20px 20px;   
    /* border: 2px solid white;  */
} 
html{
    background-color: rgba(0, 0, 0, 0.977);
}
a{
    font-size: 20px;
    color: crimson;
}
p{
    color: rgb(243, 229, 210);
    font-size: 20px;
    font-family: 'Playfair Display', serif;
}
h1{
    color: rgb(243, 229, 210);
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
h2{
    color: rgb(243, 229, 210);
    font-size: 25px;
    font-family: 'Playfair Display', serif;
}
img{
    width: 800px;
}
.counting_rhyme{
    font-size: 22px;
    color: crimson;
}
.important{
    font-size: 22px;
    color: rgb(250, 200, 138);
}
.blood{
    font-style: italic;
    font-size: 22px;
    color: crimson;
}